 
Source/texstudio.pro.user
Source/TeXStudio.files
Source/TeXStudio.cxxflags
Source/TeXStudio.creator
Source/TeXStudio.cflags
Source/TeXStudio.config
Source/TeXStudio.includes
Source/TeXStudio.creator.user
Source/src/git_revision.cpp
Source/.vscode/**
